.footer{
    background-color: #03243F;
    height: 50vh;
}
.inner_footer{
    width: 60vw;
}
.inner_footer img{
    position: absolute;
    margin-top: 50px;
    height: 100px;
    width: 200px;
}
.footer_content{
    position: absolute;
    margin-top: 90px;
    margin-left: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.footer_content1 h1{
    color: #fff;
    font-size: 25px;
    font-family: "gilroy";
    font-weight: 600;
}
.footer_content1 h6{
    color: #fff;
    font-size: 18px;
    font-family: "gilroy";
    font-weight: 400;
}
.footer_content2{
    margin-bottom: 58px;
}
.footer_content2 h1{
    color: #fff;
    font-size: 25px;
    font-family: "gilroy";
    font-weight: 600;
}
.footer_content2 h6{
    color: #fff;
    font-size: 18px;
    font-family: "gilroy";
    font-weight: 400;
}
.footer_content3{
    margin-bottom: 30px;
}
.footer_content3 h1{
    color: #fff;
    font-size: 25px;
    font-family: "gilroy";
    font-weight: 600;
}
.footer_content3 h6{
    color: #fff;
    font-size: 18px;
    font-family: "gilroy";
    font-weight: 400;
}
.footer_content4{
    margin-bottom: 30px;
}
.footer_content4 h1{
    color: #fff;
    font-size: 25px;
    font-family: "gilroy";
    font-weight: 600;
}
.footer_content4 h6{
    color: #fff;
    font-size: 18px;
    font-family: "gilroy";
    font-weight: 400;
}